@charset "UTF-8";

.top-wrap__time{
  align-items: center;
  width: 50%;
  margin: 3% 26.5%;
}

.acc-wrap__right__block__table{
  text-align: center;
}

.acc-wrap__right__block__table tr td{
  font-size: 1.2rem;
}

.acc-wrap__right__block__table tr th {
  font-size: 1.2rem;
}

.acc-wrap__right__sub{
  margin: 5% 0;
}

.acc-wrap__right__sub p{
  font-size: 1.2rem;
}

.top-wrap__item__btn{
  background-color: #CABE80;
  width: 20%;
  border-radius: 50px;
  text-align: center;
  padding: 1%;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 40%);
  margin: 2% 40%;
}

.top-wrap__item__btn a{
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.add-wrap__txt{
  align-items: center;
  display: block;
  text-align: center;
}

.add-wrap__txt p{
  font-size: 1.5rem;
}

.add-wrap__item img{
  aspect-ratio: 3 / 2;
  width: 40%;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 40%);
  margin: 3% 30%;
}

.map-wrap{
  background: linear-gradient(#fff 40%, #CABE80 0, #CABE80 88%, #fff 0);
}

.map-wrap__acc{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 2% 10%;
}

.map-wrap__acc__left{
  width: 50%;
}

.map-wrap__acc__left__item1 iframe{
  width: 100%;
}

.map-wrap__acc__right__ttl{
  display: flex;
  justify-content: center;
  text-align: start;
  margin: 9% 0;
}

.map-wrap__acc__right__ttl__log{
  position: absolute;
  left: -7%;
  top: 4%;
}

.map-wrap__acc__right__ttl__log img{
  aspect-ratio: 1 / 1;
  width: 100px;
}

.map-wrap__acc__right__ttl__name h2{
  font-family: 'kaisei opti';
  font-size: 1.5rem;
  color: #000;
}

.map-wrap__acc__right__ttl__name p {
  font-size: 1rem;
  color: #000;
}

.map-wrap__acc__right{
  position: relative;
  width: 40%;
  margin: 2% 0;
}

.acc-wrap__right__block__table1 {
  margin: 2% 0;
  background-color: #fff;
  width: 89%;
  margin-left: 5%;
}

.acc-wrap__right__block__table1 table {
  width: 100%;
}

.acc-wrap__right__block__table1 table tr:nth-of-type(1) {
  background-color: #000;
}

.acc-wrap__right__block__table1 table tr:nth-of-type(2),
.acc-wrap__right__block__table1 table tr:nth-of-type(3) {
  border-bottom: solid 1px #000;
}

.acc-wrap__right__block__table1 table span {
  color: #fff;
  font-weight: 100;
}

.week {
  border-left: 1px solid #FFFFFF;
}

.acc-wrap__right__block__table1 table tr th {
  padding: 12.2px;
  color: #000;
}

.acc-wrap__right__block__table1 table tr td {
  padding: 12.2px;
  color: #000;
}

.top-wrap__con__block__item{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: solid 5px #E2D06E;
  border-radius: 50px;
  width: 55%;
  margin: 12% 13%;
  padding: 8%;
}

.top-wrap__con__block__item__bub {
  position: absolute;
  display: block;
  background-color: #E2D06E;
  width: 25%;
  text-align: center;
  border-radius: 100%;
  padding: 1.5%;
  font-size: 1.5rem;
  left: 0%;
  top: -10%;
  color: black;
}

.top-wrap__con__block__item__bub ::before {
  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #E2D06E;
}

.top-wrap__con__block__item__bub p{
  font-size: 1.2rem;
  color: #000;
}

.top-wrap__con__block__item__ttl{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #E2D06E;
  border-radius: 50px;
  padding: 1.5%;
}

.top-wrap__con__block__item__ttl img{
  aspect-ratio: 1 /1;
  width: 15%;
  color: #000;
}

.top-wrap__con__block__item__ttl a{
  color: #000;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  padding: 2%;
}

.top-wrap__con__block__item__ttl:hover {
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}

.top-wrap__con__block__item__tel{
  text-align: center;
}

.top-wrap__con__block__item__tel {
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
}

.top-wrap__con__block__item__tel h4 {
  font-weight: 500;
  font-size: 0.9rem;
}

.top-wrap__con__block__item__tel strong {
  font-size: 1.2rem;
  padding: 1%;
}

.map-wrap__acc__right__car{
  margin: 2%;
}

.map-wrap__acc__right__car__ttl{
  position: relative;
}

.map-wrap__acc__right__car__ttl::before{
  content: "";
  position: absolute;
  background: rgba(202, 190, 128, 0.20);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  top: -30%;
  left: -5%;
}

.map-wrap__acc__right__car__ttl h2{
  font-size: 1.5rem;
  font-weight: 100;
  color: #000;
}

.map-wrap__acc__right__car__ttl p{
  font-size: 1.2rem;
  color: #000;
}

.acc-wrap__right__sub1{
  font-size: 1rem;
  color: #000;
}