@charset "UTF-8";
.top-wrap__ttl__sub__ttl{
  margin: 2% 25%;
}

.top-wrap__ttl__sub__ttl h2{
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: black;
  font-weight: 500;
}

.top-wrap__ttl__sub__txt{
  margin: auto 25%;
}

.top-wrap__ttl__sub__txt p{
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.cl-wrap{
  background: linear-gradient(180deg, rgba(226, 202, 110, 0) 0%, rgba(202, 190, 128, 0.7) 100%);
}

.ove-wrap__block{
  margin: 3% 26.5%;
  width: 50%;
}

.ove-wrap__block__table{
  width: 100%;
  border-bottom: unset;
}

.ove-wrap__block__table table{
  width: 100%;
}

.ove-wrap__block__table tr{
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  padding: 1%;
  border-bottom: solid 1px #000;
}

.ove-wrap__block__table tr th{
  position: relative;
  text-align: left;
  padding: 1%;
  border: solid 1px #000;
  border-right: none;
  border-bottom: none;
  background-color: #fff;
}

.ove-wrap__block__table tr td{
  text-align: left;
  padding:7px 0 7px 30px;
  width: 80%;
  padding: 1%;
  border: solid 1px #000;
  border-bottom: none;
  background-color: #fff;
}

.ove-wrap__par__ttl{
  position: relative;
  text-align: start;
  margin: 3% 25%;
  margin-bottom: 2%;
}

.ove-wrap__par__ttl::before{
  content: "";
  position: absolute;
  background-color: #FFF9D6;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  z-index: -1;
  left: -8%;
  top: -50%;
}

.ove-wrap__par__ttl h2{
  font-size: 1.8rem;
  font-weight: 100;
  color: #000;
}

.ove-wrap__par__txt{
  text-align: center;
}

.ove-wrap__par__txt p{
  font-size: 1.2rem;
  color: #000;
}

.ove-wrap__par__list{
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, rgba(226, 208, 110, 0.22) 0%, rgba(226, 208, 110, 0.44) 100%);
  align-items: center;
  justify-content: center;
  margin: 1% 26.5%;
  width: 50%;
  padding: 0.1%;
}

.ove-wrap__par__list__item{
  background-color: #fff;
  padding: 0.5rem;
  margin: 1.5%;
}

.ove-wrap__par__list__item p{
  color: #000;
}

.ove-wrap__par__txt2{
  margin: 0 29%;
}

.ove-wrap__par__txt2 p {
  font-size: 1.2rem;
  color: #000;
}

.hos-wrap{
  padding-bottom: 5%;
}

.hos-wrap__list{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 5%;
}

.hos-wrap__list__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 30%;
  align-items: center;
  padding: 5% 0;
}

.hos-wrap__list__item img{
  aspect-ratio: 4 / 3;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 40%);
  margin-bottom: 5%;
}

.hos-wrap__list__item h2{
  display: inline-block;
  width: 40%;
  font-size: 1.2rem;
  color: #000;
  text-align: center;
  align-items: center;
  background: linear-gradient(transparent 65%, rgba(226, 208, 110, 0.50) 35%);
}

.hos-wrap__list__item p{
  font-size: 1rem;
  font-weight: 100;
  color: #000;
  text-align: center;
  padding: 3%;
}

.hos-wrap__list__item2 {
  width: 100%;
  display: inline-block;
  position: relative;
  max-width: 40%;
  align-items: center;
  padding: 5% 0;
}

.hos-wrap__list__item2 img {
  aspect-ratio: 4 / 3;
  width: 50%;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 40%);
}
